# https://projectlombok.org/features/configuration
# https://projectlombok.org/api/lombok/ConfigurationKeys.html
config.stopbubbling = true
lombok.experimental.flagUsage = warning
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
